html {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 9999;
}

h1 {
  display: block;
  margin: 20px 40px;
}

.carousel {
  margin: 0 auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 350px;
  position: absolute;
  opacity: 0.85;
}

.carousel-item {
  max-height: 720px;
}

.main-info-carousel {
  position: relative;
  top: 50px;
}

.jodiPic {
  max-width: 15%;
  height: auto;
  margin: 30px;
  border-radius: 30px;
}

.prices-section {
  position: relative;
}

footer {
  text-align: center;
  font-size: 11px;
  color: gray;
}
