body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  display: block;
  margin: 20px 40px;
}

.carousel {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 350px;
  position: absolute;
  opacity: 0.85;
}

.carousel-item {
  max-height: 640px;
  display: flex;
}

.main-info-carousel {
  position: relative;
  top: 50px;
  display: flex;
}

.card-body-text {
  margin: 20px;
  margin-top: 40px;
  color: #fff;
  font-weight: 250px;
  font-size: 20px;
}

.jodiPic {
  max-width: 90%;
  height: auto;
  margin: 30px;
  border-radius: 10px;
}

.flex-item {
  fl
}

section.prices-detail {
  position: static;
  margin: 0;
  padding-top: 500px;
  max-width: 1300px;
  padding-bottom: 70px;
  align-items: center;
}

footer {
  text-align: center;
  font-size: 11px;
  color: gray;
}
